# Compiled class file
#.gitignore
*.class
.classpath
*.project
*.iml
.factorypath
classpath-data.json
.myumldata
setEnvVars.bat

**/bin
**/bin/**

/.metadata
*/.metadata/*

.idea

/.settings
**/.settings
**/.settings/**

.factorypath
**/.factorypath
**/**/.factorypath

/.sts4-cache
**/.sts4-cache/**

# Log file
*.log
*.log.*

*/jdk/*


**/build
**/build/**

/**/node_modules/**
/**/dist/**
*/META-INF/MANIFEST.MF

**/target/*

/.gradle/
/.gradle/*
.vscode/settings.json

node_modules/

vite.config.js.**

**/out/*
/dist/**
**/package-lock.json
**/yarn.lock
