@font-face {
  font-family: "iconfont"; /* Project id 4886599 */
  src: url('iconfont.woff2?t=1744185738864') format('woff2'),
       url('iconfont.woff?t=1744185738864') format('woff'),
       url('iconfont.ttf?t=1744185738864') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianping:before {
  content: "\e608";
}

