<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.surpass.persistence.mapper.ResourcesMapper">

	<sql id="where_statement">
    	<if test="id != null and id != ''">
			and	res.id	=	#{id}
		</if>
        <if test="parentId != null and parentId != ''">
            and res.parentid  =   #{parentId}
        </if>
		<if test="resName != null and resName != ''">
			and res.resname like '%${resName}%'
		</if>
    </sql>

	<select id="queryResourcesTree" parameterType="Resources" resultType="Resources">
		select
			res.*
		from
			surpass_resources res
		where  res.deleted 	= 'n'
		<include refid="where_statement"/>
		order by res.sortindex
	</select>

	<select id="pageList" parameterType="org.dromara.surpass.entity.permissions.dto.ResourcesPageDto"
			resultType="org.dromara.surpass.entity.permissions.Resources">
		select
		res.*
		from
		surpass_resources res
		where res.deleted 	= 'n'
		<if test="Dto.id != null and Dto.id != ''">
			and res.id = #{Dto.id}
		</if>
		<if test="Dto.parentId != null and Dto.parentId != ''">
			and res.parent_id = #{Dto.parentId}
		</if>
		<if test="Dto.resName != null and Dto.resName != ''">
			and res.res_name like CONCAT('%', #{Dto.resName}, '%')
		</if>
		order by res.sort_index
	</select>
</mapper>
