<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.surpass.persistence.mapper.ApiPublishMapper">
    <resultMap id="ApiPublishRecordWithVersionMap" type="org.maxkey.surpass.entity.api.ApiPublishRecord">
        <id property="id" column="id"/>
        <result property="apiId" column="api_id"/>
        <result property="versionId" column="version_id"/>
        <result property="publishTime" column="publish_time"/>
        <result property="operator" column="operator"/>
        <result property="description" column="description"/>
        <association property="apiVersion" javaType="org.maxkey.surpass.entity.api.ApiVersion">
            <id property="id" column="version_id"/>
            <result property="apiId" column="version_api_id"/>
            <result property="version" column="version_number"/>
            <result property="description" column="version_description"/>
        </association>
    </resultMap>

    <select id="findByApiIdOrderByPublishTimeDesc" resultMap="ApiPublishRecordWithVersionMap">
        SELECT 
            apr.*, 
            v.id as version_id,
            v.api_id as version_api_id,
            v.version as version_number,
            v.description as version_description
        FROM surpass_api_publish apr
        LEFT JOIN surpass_api_version v ON apr.version_id = v.id AND v.deleted = 'n'
        WHERE apr.api_id = #{apiId}
        ORDER BY apr.publish_time DESC
    </select>
</mapper>
