<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.maxkey.surpass.persistence.mapper.AuthzMapper">

    <select id="queryRolesByMembers" parameterType="QueryRoleMembersDto" resultType="Roles">
        select distinct mg.*
        from surpass_roles mg
        join surpass_role_member mgm
        on mg.id = mgm.role_id
        where mg.status = 1
        and mg.deleted = 'n'
        and (
        role_code = 'ROLE_ALL_USER'
        or mgm.member_id in(
        <foreach collection="members" item="item" separator=",">
            #{item}
        </foreach>
        )
        )
    </select>

</mapper>
