<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.ApiVersionMapper">
    <select id="findMaxVersionByApiId" resultType="java.lang.Integer">
        SELECT COALESCE(MAX(av.version), 0)
        FROM surpass_api_version av
        WHERE av.api_id = #{apiId}
        and av.deleted = 'n'
    </select>
</mapper>
