<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.AppResourcesMapper">
    <select id="pageList" parameterType="com.surpass.entity.app.dto.AppResourcesPageDto"
            resultType="com.surpass.entity.app.AppResources">
        SELECT
        m.*
        p.menu_name AS parent_name
        FROM surpass_app_menu m
        LEFT JOIN surpass_app_menu p ON m.parent_id = p.id AND p.deleted = 'n'
        WHERE m.deleted = 'n'
        <if test="appId != null and appId != ''">
            AND m.app_id = #{appId}
        </if>
        <if test="menuName != null and menuName != ''">
            AND m.menu_name LIKE CONCAT('%', #{menuName}, '%')
        </if>
        ORDER BY m.sort_index ASC, m.created_date DESC
    </select>
</mapper>
