<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.BookSubjectMapper">
    <select id="pageListByBook" parameterType="com.surpass.entity.book.dto.SubjectPageDto"
            resultType="com.surpass.entity.book.BookSubject">
        select child.*,
        parent.code as parentCode,
        parent.name as parentName
        from jbx_book_subject child
        left join jbx_book_subject parent
        on child.parent_id = parent.id
        and parent.deleted = 'n'
        and parent.book_id = #{Dto.bookId}
        and (parent.is_auxiliary &lt;&gt; 1 OR parent.is_auxiliary IS NULL)
        where child.deleted = 'n'
        and child.book_id = #{Dto.bookId}
        <if test="Dto.status != null ">
        	and child.status  = #{Dto.status}
        </if>
        and (child.is_auxiliary &lt;&gt; 1 OR child.is_auxiliary IS NULL)
        <if test="Dto.category != null and Dto.category != ''">
            and child.category = #{Dto.category}
        </if>
        <if test="Dto.code != null and Dto.code != ''">
            and child.code like CONCAT(#{Dto.code}, '%')
        </if>
        <if test="Dto.name != null and Dto.name != ''">
            and child.name like CONCAT('%', #{Dto.name}, '%')
        </if>
        order by child.code ASC
    </select>

    <select id="selectPeriodBalance" parameterType="com.surpass.entity.statement.dto.StatementParamsDto"
            resultType="com.surpass.entity.statement.vo.StatementSubjectVo">
        SELECT s.id, s.parent_id, s.`code`, s.`name`, s.direction, s.category, s.id_path,
               i.debit_amount, i.credit_amount, i.subject_balance as balance
        FROM jbx_book_subject s
        LEFT JOIN (
        SELECT i_inner.*
        FROM jbx_voucher_item i_inner
        INNER JOIN (
        SELECT subject_code,
        ${params.countType}(id) AS max_id
        FROM jbx_voucher_item
        WHERE deleted = 'n'
        <if test="params.year != null">
            AND YEAR(voucher_date) = #{params.year}
        </if>
        <if test="params.month != null">
            AND MONTH(voucher_date) = #{params.month}
        </if>
        <if test="params.quarter != null">
            AND QUARTER(voucher_date) = #{params.quarter}
        </if>
        GROUP BY subject_code
        ) latest ON i_inner.subject_code = latest.subject_code AND i_inner.id = latest.max_id
        ) i ON s.`code` = i.subject_code
        LEFT JOIN jbx_voucher v ON i.voucher_id = v.id AND v.deleted = 'n' and v.status in ('reviewing', 'completed')
        WHERE s.book_id = #{params.bookId}
        AND s.deleted = 'n'
        and (s.is_auxiliary &lt;&gt; 1 OR s.is_auxiliary IS NULL)
        ORDER BY s.category, s.code
    </select>

    <delete id="deleteByBookId" parameterType="string">
        delete from jbx_book_subject where book_id = #{bookId}
    </delete>
</mapper>
