<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.EmployeeSalarySummaryMapper">

    <!-- 汇总数据的方法 -->
    <select id="selectSalarySummary" parameterType="com.surpass.entity.hr.dto.SalarySummaryChangeDto"
    resultType="com.surpass.entity.hr.EmployeeSalarySummary">
        SELECT
            #{Dto.bookId} AS book_id,
            SUM(pay_basic) AS pay_basic,
            SUM(pay_merit) AS pay_merit,
            SUM(pay_post) AS pay_post,
            SUM(bonus) AS bonus,
            SUM(overtime) AS overtime,
            SUM(allowance) AS allowance,
            SUM(back_pay) AS back_pay,
            SUM(total_social_insurance) AS total_social_insurance,
            SUM(labor_fee) AS labor_fee,
            SUM(provident_fund) AS provident_fund,
            SUM(attendance) AS attendance,
            SUM(other_deductions) AS other_deductions,
            SUM(personal_tax) AS personal_tax,
            SUM(pay_amount) AS pay_amount,
            SUM(total_amount) AS total_amount,
            SUM(business_social_insurance) AS business_social_insurance,
            SUM(business_provident_fund) AS business_provident_fund,
            SUM(taxable_wages) AS taxable_wages,
            SUM(tax_deduction) AS tax_deduction,
            SUM(business_expenditure_costs) AS business_expenditure_costs
        FROM jbx_employee_salary_summary
        WHERE book_id = #{Dto.bookId}
          AND (belong_date >= #{Dto.startDateRange} AND  #{Dto.endDateRange}>= belong_date)
          AND deleted = 'n'
        HAVING COUNT(*) > 0
    </select>

</mapper>
