<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.EmployeeSalaryMapper">
    <select id="pageList" parameterType="com.surpass.entity.hr.dto.SalaryDetailPageDto"
            resultType="com.surpass.entity.hr.EmployeeSalary">
        select jes.*, je.display_name as employeeName, je.bank_card_no as bankCardNo,
               je.employee_number as employeeNumber,je.employee_type
        from jbx_employee_salary jes
        left join jbx_employee je on jes.employee_id = je.id
        and je.deleted = 'n'
        and je.book_id = #{Dto.bookId}
        where jes.deleted = 'n'
        and jes.book_id = #{Dto.bookId}
        <if test="Dto.employeeName != null and Dto.employeeName != '' ">
            and je.display_name like CONCAT('%', #{Dto.employeeName}, '%')
        </if>
        <if test="Dto.employeeNumber != null and Dto.employeeNumber != '' ">
            and je.employee_number like CONCAT('%', #{Dto.employeeNumber}, '%')
        </if>
        <if test="Dto.belongDateRange != null and Dto.belongDateRange.length == 2">
            and jes.belong_date between #{Dto.belongDateRange[0]} and #{Dto.belongDateRange[1]}
        </if>
        order by jes.created_date desc
    </select>

    <!-- 直接使用SQL插入汇总数据的方法 -->
    <select id="selectSalarySummary" parameterType="com.surpass.entity.hr.dto.SalarySummaryChangeDto"
    resultType="com.surpass.entity.hr.EmployeeSalarySummary">
        SELECT
            #{Dto.bookId} AS book_id,
            #{Dto.belongDate} AS belong_date,
            'salary' AS label,
            #{Dto.description} AS description,
            sum(1) AS people_number,
            SUM(pay_basic) AS pay_basic,
            SUM(pay_merit) AS pay_merit,
            SUM(pay_post) AS pay_post,
            SUM(bonus) AS bonus,
            SUM(overtime) AS overtime,
            SUM(allowance) AS allowance,
            SUM(back_pay) AS back_pay,
            SUM(total_social_insurance) AS total_social_insurance,
            SUM(labor_fee) AS labor_fee,
            SUM(provident_fund) AS provident_fund,
            SUM(attendance) AS attendance,
            SUM(other_deductions) AS other_deductions,
            SUM(personal_tax) AS personal_tax,
            SUM(pay_amount) AS pay_amount,
            SUM(total_amount) AS total_amount,
            SUM(business_social_insurance) AS business_social_insurance,
            SUM(business_provident_fund) AS business_provident_fund,
            SUM(taxable_wages) AS taxable_wages,
            SUM(tax_deduction) AS tax_deduction,
            SUM(business_expenditure_costs) AS business_expenditure_costs
        FROM jbx_employee_salary
        WHERE book_id = #{Dto.bookId}
          AND belong_date = #{Dto.belongDate}
          AND deleted = 'n'
          AND labor_fee = 0
        HAVING COUNT(*) > 0
    </select>

    <select id="selectSalarySummaryLabor" parameterType="com.surpass.entity.hr.dto.SalarySummaryChangeDto"
    resultType="com.surpass.entity.hr.EmployeeSalarySummary">
        SELECT
            #{Dto.bookId} AS book_id,
            #{Dto.belongDate} AS belong_date,
            'labor' AS label,
            #{Dto.description} AS description,
            sum(1) AS people_number,
            SUM(pay_basic) AS pay_basic,
            SUM(pay_merit) AS pay_merit,
            SUM(pay_post) AS pay_post,
            SUM(bonus) AS bonus,
            SUM(overtime) AS overtime,
            SUM(allowance) AS allowance,
            SUM(back_pay) AS back_pay,
            SUM(total_social_insurance) AS total_social_insurance,
            SUM(labor_fee) AS labor_fee,
            SUM(provident_fund) AS provident_fund,
            SUM(attendance) AS attendance,
            SUM(other_deductions) AS other_deductions,
            SUM(personal_tax) AS personal_tax,
            SUM(pay_amount) AS pay_amount,
            SUM(total_amount) AS total_amount,
            SUM(business_social_insurance) AS business_social_insurance,
            SUM(business_provident_fund) AS business_provident_fund,
            SUM(taxable_wages) AS taxable_wages,
            SUM(tax_deduction) AS tax_deduction,
            SUM(business_expenditure_costs) AS business_expenditure_costs
        FROM jbx_employee_salary
        WHERE book_id = #{Dto.bookId}
          AND belong_date = #{Dto.belongDate}
          AND deleted = 'n'
          AND labor_fee > 0
        HAVING COUNT(*) > 0
    </select>

    <!-- 检查数据是否存在的辅助方法 -->
    <select id="countEmployeeSalaries" resultType="int" parameterType="com.surpass.entity.hr.dto.SalarySummaryChangeDto">
        SELECT COUNT(*)
        FROM jbx_employee_salary
        WHERE book_id = #{Dto.bookId}
          AND belong_date = #{Dto.belongDate}
          AND deleted = 'n'
    </select>

    <!--导出筛选-->
    <select id="exportGetSalaryDetail" resultType="com.surpass.entity.hr.vo.TaxDeductionExportVo"
            parameterType="com.surpass.entity.hr.dto.SalaryDetailPageDto">
        select je.display_name as displayName, je.employee_number as employeeNumber,je.employee_type,
            (SELECT max_num FROM jbx_config_personal_tax WHERE deleted = 'n' and level = 1 LIMIT 1) AS deductingStandards,
            jetd.*,jes.total_amount as income, 0 as taxFreeIncome, jes.tax_deduction as totalPreTaxDeduction,
            0 as taxDeductions, jes.personal_tax as paidTax,jes.insurance_endowment as insuranceEndowment, jes.insurance_medical as insuranceMedical,
            jes.insurance_unemployment as insuranceUnemployment, jes.provident_fund as housingProvidentFund
            from jbx_employee je
            join jbx_employee_salary jes on je.id = jes.employee_id
            and jes.deleted = 'n'
            and jes.book_id = #{Dto.bookId}
            and jes.belong_date = #{Dto.belongDate}
            join jbx_employee_tax_deduction jetd on je.display_name = jetd.employee_name and je.id_card_no = jetd.id_card_no
            and jetd.deleted = 'n'
            and jetd.book_id = #{Dto.bookId}
            where je.deleted = 'n'
            and je.book_id = #{Dto.bookId}
    </select>
</mapper>
