<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.EmployeeMapper">
    <select id="pageList" parameterType="com.surpass.entity.hr.dto.EmployeePageDto"
            resultType="com.surpass.entity.hr.Employee">
        SELECT
        je.*,
        jo.org_name AS departmentName,
        jbs.name AS booksSetName
        FROM
        jbx_employee je
        INNER JOIN
        jbx_organizations jo
        ON je.department_id = jo.id
        AND jo.deleted = 'n'
        and jo.book_id = #{Dto.bookId}
        <if test="Dto.departmentId != null and Dto.departmentId != ''">
            AND jo.code_path LIKE CONCAT('%', #{Dto.departmentId}, '%')
        </if>
        INNER JOIN
        jbx_book jbs
        ON je.book_id = jbs.id
        AND jbs.deleted = 'n'
        and jbs.id = #{Dto.bookId}
        WHERE
        je.deleted = 'n'
        <if test="Dto.displayName != null and Dto.displayName != ''">
            AND je.display_name LIKE CONCAT('%', #{Dto.displayName}, '%')
        </if>
        <if test="Dto.employeeNumber != null and Dto.employeeNumber != ''">
            AND je.employee_number LIKE CONCAT('%', #{Dto.employeeNumber}, '%')
        </if>
    </select>

    <select id="listNoCalCurrent" parameterType="com.surpass.entity.hr.dto.ListNoCalCurrentDto"
            resultType="com.surpass.entity.hr.Employee">
        SELECT je.* FROM jbx_employee je
                             LEFT JOIN jbx_employee_salary_temp jest ON je.id = jest.employee_id
            AND jest.belong_date = #{Dto.belongDate}
            AND jest.deleted = 'n'
            AND jest.book_id = #{Dto.bookId}
        WHERE jest.employee_id IS NULL
          AND je.deleted = 'n'
          AND je.employee_status = 'RESIDENT'
          AND je.book_id = #{Dto.bookId}
    </select>
</mapper>
