<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.FaDepreciationRecordMapper">
    <select id="getFixedAssetsList" parameterType="com.surpass.entity.fa.FixedAssets"
            resultType="com.surpass.entity.fa.FixedAssets">
        SELECT *
        FROM jbx_fa_assets
        WHERE deleted = 'n'
          AND book_id = #{bookId}
          AND asset_status = #{assetStatus}
          AND depreciation_method = #{depreciationMethod}
          AND depreciation_terms IS NOT NULL
          AND depreciation_start_date IS NOT NULL
          AND DATE_FORMAT(depreciation_start_date, '%Y-%m') &lt;= #{currentTerm}
          AND DATE_ADD(depreciation_start_date, INTERVAL depreciation_terms MONTH) &gt; STR_TO_DATE(CONCAT(#{currentTerm}, '-01'), '%Y-%m-%d')
          AND NOT EXISTS (SELECT 1
                          FROM jbx_fa_depreciation_records r
                          WHERE r.asset_id = jbx_fa_assets.id
                            AND r.period = #{currentTerm}
                            AND r.deleted = 'n'
                            AND book_id = #{bookId});
    </select>

    <select id="getAccumulatedMap" resultType="map">
        SELECT asset_id AS assetId, SUM(depreciation_amount) AS value
        FROM jbx_fa_depreciation_records
        WHERE book_id = #{bookId}
        AND asset_id IN
        <foreach collection="assetIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND deleted = 'n'
        GROUP BY asset_id
    </select>

        <select id="pageList" resultType="com.surpass.entity.fa.vo.AssetDepreciationVo"
        parameterType="com.surpass.entity.fa.dto.DepreciationRecordPageDto">
            SELECT
                fa.id AS asset_id,
                fa.asset_name,
                fa.original_value,
                fa.code as assetCode,
                jfc.category_code as categoryCode,
                jfc.category_name as categoryName,

                -- 期初累计折旧
                IFNULL(init.accumulated_depreciation, 0) AS begin_accumulated_depreciation,

                -- 本年累计折旧
                IFNULL(year_sum.year_depreciation, 0) AS current_year_depreciation,

                -- 期末累计折旧
                MAX(dr.accumulated_depreciation) AS end_accumulated_depreciation,

                -- 期末净值
                (fa.original_value - MAX(dr.accumulated_depreciation)) AS end_net_value,

                -- 本期每月折旧
                GROUP_CONCAT(CONCAT(dr.period, ':', dr.depreciation_amount) ORDER BY dr.period) AS monthly_map_str

            FROM jbx_fa_assets fa

                     LEFT JOIN jbx_fa_depreciation_records dr
                               ON dr.asset_id = fa.id
                                   AND dr.book_id = #{dto.bookId}
                                   AND dr.deleted = 'n'
                                   AND dr.period BETWEEN #{dto.startPeriod} AND #{dto.endPeriod}

                     LEFT JOIN (
                SELECT dr.asset_id, dr.accumulated_depreciation
                FROM jbx_fa_depreciation_records dr
                WHERE dr.book_id = #{dto.bookId}
                  AND dr.deleted = 'n'
                  AND dr.period = DATE_FORMAT(DATE_SUB(STR_TO_DATE(#{dto.startPeriod}, '%Y-%m'), INTERVAL 1 MONTH), '%Y-%m')
            ) init ON init.asset_id = fa.id

                     LEFT JOIN (
                SELECT dr.asset_id, SUM(dr.depreciation_amount) AS year_depreciation
                FROM jbx_fa_depreciation_records dr
                WHERE dr.book_id = #{dto.bookId}
                  AND dr.deleted = 'n'
                  AND dr.period BETWEEN CONCAT(#{dto.year}, '-01') AND #{dto.endPeriod}
                GROUP BY dr.asset_id
            ) year_sum ON year_sum.asset_id = fa.id

            JOIN jbx_fa_categories jfc on fa.category_id = jfc.id
                AND jfc.book_id = #{dto.bookId}
                AND jfc.deleted = 'n'

            WHERE fa.book_id = #{dto.bookId}
              AND fa.deleted = 'n'

            GROUP BY fa.id

            ORDER BY
                jfc.category_code
        </select>

</mapper>
