<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.FixedAssetsMapper">
    <select id="pageList" parameterType="com.surpass.entity.fa.dto.FixedAssetsPageDto"
            resultType="com.surpass.entity.fa.FixedAssets">
        select jfa.*,jfc.category_name as categoryName,asset.display_name as assetSubjectName,
        depreciation.display_name as depreciationSubjectName,expense.display_name as expenseSubjectName,
        purchase.display_name as purchaserSubjectName,liquidate.display_name as liquidationSubjectName,
        ju.display_name as custodianName
        from jbx_fa_assets jfa
        left join jbx_fa_categories jfc on jfa.category_id = jfc.id
        and jfc.book_id = #{Dto.bookId}
        and jfc.deleted = 'n'
        /*关联保管人*/
        left join jbx_userinfo ju on jfa.custodian = ju.id
        and ju.book_id = #{Dto.bookId}
        and ju.deleted = 'n'
        /*关联科目*/
        LEFT JOIN jbx_book_subject asset
        ON jfa.asset_subject_code = asset.code
        AND asset.deleted = 'n'
        AND asset.book_id = #{Dto.bookId}
        LEFT JOIN jbx_book_subject depreciation
        ON jfa.depreciation_subject_code = depreciation.code
        AND depreciation.deleted = 'n'
        AND depreciation.book_id = #{Dto.bookId}
        LEFT JOIN jbx_book_subject expense
        ON jfa.expense_subject_code = expense.code
        AND expense.deleted = 'n'
        AND expense.book_id = #{Dto.bookId}
        LEFT JOIN jbx_book_subject purchase
        ON jfa.purchaser_subject_code = purchase.code
        AND purchase.deleted = 'n'
        AND purchase.book_id = #{Dto.bookId}
        LEFT JOIN jbx_book_subject liquidate
        ON jfa.liquidation_subject_code = liquidate.code
        AND liquidate.deleted = 'n'
        AND liquidate.book_id = #{Dto.bookId}

        where jfa.deleted = 'n'
        and jfa.book_id = #{Dto.bookId}
        <if test="Dto.code != null and Dto.code != ''">
            and jfa.code = #{Dto.code}
        </if>
        <if test="Dto.assetName != null and Dto.assetName != ''">
            and jfa.asset_name = #{Dto.assetName}
        </if>
        <if test="Dto.categoryId != null and Dto.categoryId != ''">
            and jfa.category_id = #{Dto.categoryId}
        </if>
    </select>
</mapper>
