<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.PermissionBookMapper">

    <select id="userAccessBook" parameterType="com.surpass.entity.permissions.dto.PermissionBookPageDto" resultType="Book">
        select distinct
        	pb.id,
        	b.id as book_id,
			b.name,
			b.standard_id
        from
        jbx_book b ,
        jbx_permission_book pb
        where  pb.book_id = b.id
        	<if test="dto.bookId != null and dto.bookId != ''">
        		and b.id = #{dto.bookId}
        	</if>
        	<if test="dto.bookName != null and dto.bookName != ''">
	            and b.name like CONCAT('%', #{dto.bookName}, '%')
	        </if>
	        and pb.user_id = #{dto.userId}
	        and b.deleted = 'n'
	        and pb.deleted = 'n'
			and b.inst_id = #{dto.instId}
    </select>


    <select id="userNotAccessBook" parameterType="com.surpass.entity.permissions.dto.PermissionBookPageDto" resultType="Book">
        select distinct
			b.*
        from jbx_book b
        where b.deleted = 'n'
        and b.inst_id = #{dto.instId}
        	<if test="dto.bookId != null and dto.bookId != ''">
        		and b.id = #{dto.bookId}
        	</if>
        	<if test="dto.bookName != null and dto.bookName != ''">
	            and b.name like CONCAT('%', #{dto.bookName}, '%')
	        </if>
	        and b.id not in(
		        select pb.book_id
		        from jbx_permission_book pb
		        where pb.user_id  = #{dto.userId}
		        	and pb.deleted = 'n'
	        )
    </select>


</mapper>
