<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.SettlementMapper">
    <select id="pageList" parameterType="com.surpass.entity.book.dto.SettlementPageDto"
            resultType="com.surpass.entity.book.Settlement">
        select js.*
        from jbx_settlement js
        where js.deleted = 'n'
        	and js.book_id = #{dto.bookId}
        <if test="dto.year != 0">
            and js.year = #{dto.year}
        </if>
        order by year_period desc
    </select>
</mapper>
