<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.StandardSubjectMapper">
    <select id="pageList" parameterType="com.surpass.entity.book.dto.SubjectPageDto"
            resultType="com.surpass.entity.standard.StandardSubject">
        select child.*, parent.code as parentCode, parent.name AS parentName
        from jbx_standard_subject child
        left join jbx_standard_subject parent
        on child.parent_id = parent.id
        and parent.deleted = 'n'
        where child.deleted = 'n'
        <if test="Dto.standardId != null and Dto.standardId != ''">
            and child.standard_id = #{Dto.standardId}
        </if>
        <if test="Dto.category != null and Dto.category != ''">
            and child.category = #{Dto.category}
        </if>
        <if test="Dto.code != null and Dto.code != ''">
            and child.code like CONCAT(#{Dto.code}, '%')
        </if>
        <if test="Dto.name != null and Dto.name != ''">
            and child.name like CONCAT('%', #{Dto.name}, '%')
        </if>
        order by child.code ASC
    </select>
</mapper>
