<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.StandardMapper">
    <select id="selectOneStandard" parameterType="string"
            resultType="com.surpass.entity.standard.Standard">
        SELECT a.name
        FROM jbx_standard a
        JOIN jbx_standard_subject s ON a.id = s.standard_id
        and s.subject_id = #{id}
        WHERE a.deleted = 'n'
        LIMIT 1;
    </select>
</mapper>
