<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.StatementCashFlowMapper">

    <select id="fetchSpecifyCashFlow"
            parameterType="com.surpass.entity.voucher.dto.VoucherItemPageDto"
            resultType="com.surpass.entity.statement.StatementCashFlow">
        select jbx_statement_cash_flow.*
        from jbx_statement_cash_flow
        where jbx_statement_cash_flow.deleted = 'n'
        and jbx_statement_cash_flow.book_id = #{params.bookId}
        <if test="params.year != null">
            AND YEAR(jbx_statement_cash_flow.report_date) = #{params.year}
        </if>
        <if test="params.month != null">
            AND MONTH(jbx_statement_cash_flow.report_date) = #{params.month}
        </if>
        <if test="params.quarter != null">
            AND QUARTER(jbx_statement_cash_flow.report_date) = #{params.quarter}
        </if>
    </select>

    <select id="fetchByCashFlow"
            parameterType="com.surpass.entity.voucher.dto.VoucherItemPageDto"
            resultType="com.surpass.entity.voucher.vo.VoucherItemVo">
        SELECT
        v.word,
        jvicf.*,
        i.id as voucherItemId,
        v.voucher_date as voucherDate,
        i.summary as summary,
        i.subject_name as subjectName,
        i.debit_amount as debitAmount,
        i.credit_amount as creditAmount,
        v.id as voucherId
        FROM jbx_voucher_item_cash_flow jvicf
        JOIN jbx_voucher_item i on jvicf.voucher_item_id = i.id
        and jvicf.book_id = #{params.bookId}
        JOIN jbx_voucher v ON i.voucher_id = v.id
        WHERE i.deleted = 'n'
        AND v.deleted = 'n'
        AND v.book_id = #{params.bookId}
        <if test="params.year != null">
            AND YEAR(i.voucher_date) = #{params.year}
        </if>
        <if test="params.month != null">
            AND MONTH(i.voucher_date) = #{params.month}
        </if>
        <if test="params.quarter != null">
            AND QUARTER(i.voucher_date) = #{params.quarter}
        </if>
    </select>

    <!-- 新增用于查询累计金额的SQL映射 -->
    <select id="fetchByCashFlowAccumulated"
            parameterType="com.surpass.entity.voucher.dto.VoucherItemPageDto"
            resultType="com.surpass.entity.voucher.vo.VoucherItemVo">
        SELECT
        v.word,
        jvicf.*,
        i.id as voucherItemId,
        v.voucher_date as voucherDate,
        i.summary as summary,
        i.subject_name as subjectName,
        i.debit_amount as debitAmount,
        i.credit_amount as creditAmount,
        v.id as voucherId
        FROM jbx_voucher_item_cash_flow jvicf
        JOIN jbx_voucher_item i on jvicf.voucher_item_id = i.id
        and jvicf.book_id = #{params.bookId}
        JOIN jbx_voucher v ON i.voucher_id = v.id
        WHERE i.deleted = 'n'
        AND v.deleted = 'n'
        AND v.book_id = #{params.bookId}
        <if test="params.year != null">
            AND YEAR(i.voucher_date) = #{params.year}
        </if>
        <if test="params.endMonth != null">
            AND MONTH(i.voucher_date) &lt;= #{params.endMonth}
        </if>
        <if test="params.endQuarter != null">
            AND MONTH(i.voucher_date) &lt;= (#{params.endQuarter} * 3)
        </if>
    </select>
</mapper>
