<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.surpass.persistence.mapper.UserInfoMapper">

    <select id="fetchPageResults" parameterType="com.surpass.entity.idm.dto.UserInfoPageDto"
            resultType="com.surpass.entity.idm.UserInfo">
        select
        	*
        from
        jbx_userinfo
        where book_id = #{Dto.bookId}
        <if test="Dto.username != null and Dto.username != ''">
            and username = #{Dto.username}
        </if>
        <if test="Dto.employeeNumber != null and Dto.employeeNumber != ''">
            and employee_number = #{Dto.employeeNumber}
        </if>
        <if test="Dto.mobile != null and Dto.mobile != ''">
			and mobile = #{Dto.mobile}
		</if>
		<if test="Dto.email != null and Dto.email != ''">
			and email = #{Dto.email}
		</if>
        <if test="Dto.userType != null and Dto.userType != ''">
            and user_type = #{Dto.userType}
        </if>
        <if test="Dto.displayName != null and Dto.displayName != ''">
            and display_name like CONCAT('%', #{Dto.displayName}, '%')
        </if>
        and deleted = 'n'
        order by sort_index,id
    </select>

    <update id="updateLocked" parameterType="UserInfo">
        update jbx_userinfo set
        <if test="isLocked != null">
            islocked = #{isLocked},
        </if>
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>

    <update id="updateLockout" parameterType="UserInfo">
        update jbx_userinfo set
        <if test="isLocked != null">
            islocked = #{isLocked},
            badpwdcount = 0,
        </if>
        unlockdate = current_timestamp,
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>

    <update id="changePassword" parameterType="ChangePassword">
        update jbx_userinfo set
        <if test="password != null">
            password = #{password},
            decipherable = #{decipherable},
            password_set_type =#{passwordSetType},
        </if>
        password_last_set_time = current_timestamp
        where
        id = #{userId}
    </update>

    <update id="updateSharedSecret" parameterType="UserInfo">
        update jbx_userinfo set
        <if test="sharedSecret != null">
            sharedsecret = #{sharedSecret},
            sharedcounter = #{sharedCounter},
        </if>
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>



    <update id="updateEmail" parameterType="UserInfo">
        update jbx_userinfo set
        <if test="email != null">
            email = #{email},
        </if>
        <if test="emailVerified != null">
            emailverified = #{emailVerified},
        </if>
        <if test="theme != null">
            theme = #{theme},
        </if>
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>

    <update id="updateMobile" parameterType="UserInfo">
        update jbx_userinfo set
        <if test="mobile != null">
            mobile = #{mobile},
        </if>
        <if test="mobileVerified != null">
            mobileverified = #{mobileVerified},
        </if>
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>

    <update id="updateProfile" parameterType="UserInfo">
        update jbx_userinfo set
        displayname = #{displayName},
        nickname = #{nickName},
        namezhspell = #{nameZhSpell},
        namezhshortspell= #{nameZhShortSpell},
        givenname = #{givenName},
        middlename = #{middleName},
        familyname = #{familyName},
        honorificprefix = #{honorificPrefix},
        honorificsuffix = #{honorificSuffix},
        formattedname = #{formattedName} ,
        married = #{married},
        gender = #{gender},
        birthdate = #{birthDate},
        <if test="pictureId != null">
            pictureid = #{pictureId},
        </if>
        idtype = #{idType},
        idcardno = #{idCardNo},
        education = #{education},
        graduatefrom = #{graduateFrom},
        graduatedate = #{graduateDate},
        website = #{webSite},

        locale = #{locale},
        timezone = #{timeZone},
        preferredlanguage= #{preferredLanguage},

        windowsaccount = #{windowsAccount},

        workcountry = #{workCountry},
        workregion = #{workRegion},
        worklocality = #{workLocality},
        workstreetaddress= #{workStreetAddress},
        workaddressformatted= #{workAddressFormatted},
        workemail = #{workEmail},
        workphonenumber = #{workPhoneNumber},
        workpostalcode = #{workPostalCode},
        workfax = #{workFax},

        homecountry = #{homeCountry},
        homeregion = #{homeRegion},
        homelocality = #{homeLocality},
        homestreetaddress= #{homeStreetAddress},
        homeaddressformatted= #{homeAddressFormatted},
        homeemail = #{homeEmail},
        homephonenumber= #{homePhoneNumber},
        homepostalcode = #{homePostalCode},
        homefax = #{homeFax},
        <if test="extraAttrs != null and extraAttrs != ''">
            extraattrs = #{extraAttrs},
        </if>
        modifiedby = #{modifiedBy},
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>

    <select id="findOrganizationsByUserId" parameterType="string" resultType="Organizations">
        select o.*, 1 isPrimary
        from jbx_organizations o,
             jbx_userinfo u
        where o.book_id = u.book_id
          and o.id = u.departmentid
          and u.id = #{value}
          and o.deleted = 'n'
          and u.deleted = 'n'


        union all

        select o.*, 0 isPrimary
        from jbx_organizations o,
             jbx_organization_users ua
        where o.book_id = ua.book_id
          and o.id = ua.departmentid
          and ua.userid = #{value}
          and o.deleted = 'n'
    </select>

    <update id="updateUserByManage" parameterType="com.surpass.entity.idm.UserInfo">
        update jbx_userinfo set
        USERNAME = #{username},
        displayname = #{displayName},
        nickname = #{nickName},
        namezhspell = #{nameZhSpell},
        namezhshortspell= #{nameZhShortSpell},
        givenname = #{givenName},
        middlename = #{middleName},
        familyname = #{familyName},
        honorificprefix = #{honorificPrefix},
        honorificsuffix = #{honorificSuffix},
        formattedname = #{formattedName} ,
        married = #{married},
        gender = #{gender},
        birthdate = #{birthDate},
        STATUS = #{status},
        <if test="pictureId != null">
            pictureid = #{pictureId},
        </if>
        idtype = #{idType},
        idcardno = #{idCardNo},
        education = #{education},
        graduatefrom = #{graduateFrom},
        graduatedate = #{graduateDate},
        website = #{webSite},

        locale = #{locale},
        timezone = #{timeZone},
        preferredlanguage= #{preferredLanguage},

        windowsaccount = #{windowsAccount},

        workcountry = #{workCountry},
        workregion = #{workRegion},
        worklocality = #{workLocality},
        workstreetaddress= #{workStreetAddress},
        workaddressformatted= #{workAddressFormatted},
        workemail = #{workEmail},
        workphonenumber = #{workPhoneNumber},
        workpostalcode = #{workPostalCode},
        workfax = #{workFax},

        homecountry = #{homeCountry},
        homeregion = #{homeRegion},
        homelocality = #{homeLocality},
        homestreetaddress= #{homeStreetAddress},
        homeaddressformatted= #{homeAddressFormatted},
        homeemail = #{homeEmail},
        homephonenumber= #{homePhoneNumber},
        homepostalcode = #{homePostalCode},
        homefax = #{homeFax},
        <if test="extraAttrs != null and extraAttrs != ''">
            extraattrs = #{extraAttrs},
        </if>
        modifiedby = #{modifiedBy},
        modifieddate = current_timestamp
        where
        id = #{id}
    </update>
</mapper>
